.student {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 20px;
}

.student-outer {
  display: table;
  width: 100%;
  height: 100%;
}

.student-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.student-logo {
	margin-bottom: 30px;
	height: 200px;
	background: url(../assets/logo.svg);
	background-position: center;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.student-palyid-input {
	width: 80%;
	max-width: 300px;
}

.student-name-input {
	width: 80%;
	max-width: 300px;
}

.student-nick-input {
	width: 80%;
	max-width: 300px;
}

.student-palyid-button {
	width: 80%;
	max-width: 300px;
}

.student-login-button {
	width: 80%;
	max-width: 300px;
}

.student-example {
	cursor: pointer;
}

.student-home-button {
	width: 80%;
	max-width: 300px;
}
