.teacher {
	height: 100%;
	text-align: center;
	margin: 20px;
}

.teacher-outer {
  display: table;
  width: 100%;
  height: 100%;
}

.teacher-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.teacher-floater {
  float: left;
  height: 50%;
  margin-bottom: -120px;
}

.teacher-top {
  float: right;
  width: 100%;
  text-align: center;
}

.teacher-content {
  clear: both;
  height: 240px;
  position: relative;
}

.teacher-logo {
	margin-bottom: 50px;
	height: 150px;
	background: url(../question.png);
	background-position: center;
	background-size: 150px 150px;
	background-repeat: no-repeat;
}

.teacher-quizname-input {
	width: 80%;
	max-width: 300px;
}

.teacher-mode-button {
	width: 60%;
	max-width: 400px;
}
