.teacher {
	height: 100%;
	text-align: center;
	margin: 20px;
}

.teacher-outer {
	display: table;
	width: 100%;
	height: 100%;
}

.teacher-inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.teacher-floater {
	float: left;
	height: 50%;
	margin-bottom: -120px;
}

.teacher-top {
	float: right;
	width: 100%;
	text-align: center;
}

.teacher-content {
	clear: both;
	position: relative;
}

.teacher-logo {
	margin-bottom: 50px;
	height: 150px;
	background: url(../question.png);
	background-position: center;
	background-size: 150px 150px;
	background-repeat: no-repeat;
}

.teacher-button {
	margin: 5px;
}

.teacher-dropzone {
	width: 100%;
	height: 100%;
	min-height: 200px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px
}

.teacher-quizname-input {
	width: 80%;
	max-width: 300px;
}

.teacher-quizlist-title-wrapper {
	width: 70%;
}

.teacher-quizlist-title {
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
  text-overflow: ellipsis;
}

.teacher-mode-button {
	width: 60%;
	max-width: 400px;
}

.teacher-tag {
	margin: 5px;
}

.teacher-tag-input {
	width: 60%;
	max-width: 300px;
	margin-left: 10px;
}

div.teacher-tag-suggestions {
	position: absolute;
	z-index: 3
}

div.teacher-tag-suggestions ul {
	list-style-type: none;
	box-shadow: .05em .01em .5em rgba(0,0,0,.2);
	background: white;
	width: 200px;
}
div.teacher-tag-suggestions li {
	border-bottom: 1px solid #ddd;
	padding: 5px 10px;
	margin: 0;
}

div.teacher-tag-suggestions li mark {
	text-decoration: underline;
	background: none;
	font-weight: 600;
}

div.teacher-tag-suggestions ul li.teacher-tag-active-suggestion {
	background: #b7cfe0;
	cursor: pointer;
}

.teacher-play-title {
	position: fixed;
	top: 5px;
	left: 5px;
	right: 5px;
}

.teacher-play-timer {
	position: fixed;
	top: 100px;
	left: 20px;
}

.teacher-play-example {
	position: fixed;
	bottom: 5px;
	left: 5px;
	right: 5px;
}
